.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form {
    -fx-background-color: linear-gradient(to bottom right, #272b3f 0%, #30a6c7 50%, #ffffff 100%);
}



.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-color:#31bdc5;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#18a383;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}



.card{
    -fx-background-color: #b3d4e8 ;
    -fx-background-radius:5px;
}


.transparent{
    -fx-background-color: #fff;
}
.white-background{
    -fx-background-color: #fff;
}
.light-gray-background{
    -fx-background-color: #F3F3F3;
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #60bbf0, #284e63);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #60bbf0, #60bbf0);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}


.nadaa{

    -fx-background-color:#60bbf0;
}